{
	"gui": {
    "windowtitle" : {
      "type" : "title",
			"title" : "Toilet",
      "subtitle" : "poop time",
      "icon" : {
        "type" : "image",
        "file" : "/pat/severedhead/stall/window/icon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
		"background": {
			"type": "background",
			"fileHeader": "/pat/severedhead/stall/window/windowheader.png",
			"fileBody": "/pat/severedhead/stall/window/windowbody.png",
			"fileFooter": "/pat/severedhead/stall/window/windowfooter.png"
		},
		"overlay": {
			"type": "image",
			"file": "/pat/severedhead/stall/window/shine.png",
			"position": [0, 0]
		},
		"itemSlot": {
			"type": "itemslot",
			"position": [31, 44],
			"backingImage": "/interface/inventory/empty.png",
			"callback" : "item",
			"rightClickCallback" : "item"
		}
	},

  "scriptWidgetCallbacks" : ["item"],

  "scripts" : ["/pat/severedhead/stall/window/window.lua"],
  "scriptDelta" : 1
}