{
  "gui": {
    "windowtitle": {
      "type": "title",
      "title": "Toilet",
      "subtitle": "poop time",
      "icon": {
        "type": "image",
        "file": "/pat/severedhead/window/icon.png",
        "position": [ 0, 0 ],
        "zlevel": -1
      }
    },
    "background": {
      "type": "background",
      "fileHeader": "/pat/severedhead/window/windowheader.png",
      "fileBody": "/pat/severedhead/window/windowbody.png",
      "fileFooter": "/pat/severedhead/window/windowfooter.png"
    },
    "overlay": {
      "type": "image",
      "file": "/pat/severedhead/window/shine.png",
      "position": [ 0, 0 ]
    },
    "itemSlot": {
      "type": "itemslot",
      "position": [ 31, 44 ],
      "backingImage": "/interface/inventory/empty.png",
      "callback": "item",
      "rightClickCallback": "item"
    }
  },

  "scriptWidgetCallbacks": [ "item" ],

  "scripts": [ "/pat/severedhead/window/window.lua" ],
  "scriptDelta": 1
}